In [1]:
# project: p12
# submitter: cjwacker
# partner: dargall
# hours: 8

In [2]:
import time
import pandas as pd
from pandas import DataFrame, Series
import os
import requests
import math 
import sqlite3
from bs4 import BeautifulSoup
import json

In [3]:
def download(filename, url):
    if os.path.exists(filename):
        return (str(filename) + " already exists!")
    else:
        r = requests.get(url)
        r.raise_for_status()
        data = r.text
        f = open(filename, "w", encoding="utf-8")
        f.write(data)
        f.close()
    return (str(filename) + " created!")

In [22]:
download("rankings.json", "https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/rankings.json")

'rankings.json already exists!'

In [23]:
download("QSranking.json", "https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p13/QSranking.json")

'QSranking.json already exists!'

In [6]:
rankings = pd.read_json('rankings.json')
rankings.head()

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
1,2,2019-2020,Massachusetts Institute of Technology,USA,2,1.0,10.0,2.0,5.0,96.7
2,3,2019-2020,Stanford University,USA,3,9.0,3.0,3.0,2.0,95.2
3,4,2019-2020,University of Cambridge,United Kingdom,1,4.0,19.0,5.0,11.0,94.1
4,5,2019-2020,University of Oxford,United Kingdom,2,10.0,24.0,10.0,4.0,93.3

In [7]:
#Q1: How many countries do we have in our dataset?
len(set(rankings["Country"]))

103

In [8]:
#Q2: Generate a pandas DataFrame containing all the statistics of the highest-ranked institution based on "World Rank" (Note: highest rank is 1).
rank_data = rankings[rankings["World Rank"] == 1]
rank_data

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [9]:
#Q3: Generate a pandas DataFrame containing all the statistics of "University of Wisconsin–Madison".
UW_MAD = rankings[rankings["Institution"] == "University of Wisconsin–Madison"]
UW_MAD

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [10]:
#Q4: What is the "National Rank" of the "University of Wisconsin–Madison" in the year 2021-2022?
UW_MAD[UW_MAD["Year"] == "2021-2022"].iloc[0]["National Rank"]

19

In [11]:
#Q5: What is the average score of the "University of Wisconsin–Madison"?
UW_MAD["Score"].mean()

87.26666666666667

In [12]:
#Q6: Generate a pandas dataframe containing all the statistics of universities from Singapore in the year 2020-2021.
singapore = rankings[(rankings["Country"] == "Singapore") & (rankings["Year"] == "2020-2021")]
singapore

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [13]:
#Q7: In the year 2019-2020, what was the highest-ranked institution in Germany?
germany = rankings[(rankings["Country"] == "Germany") & (rankings["Year"] == "2019-2020")].iloc[0]["Institution"]
germany

'Ludwig Maximilian University of Munich'

In [14]:
#Q8: In the year 2019-2020, list all the institutions in the USA ranked better than the highest-ranked institution in Germany.
germany_high = rankings[(rankings["Country"] == "Germany") & (rankings["Year"] == "2019-2020")].iloc[0]["World Rank"]
higher_than_germ = rankings[(rankings["World Rank"] < germany_high) & (rankings["Year"] == "2019-2020") & (rankings["Country"] == "USA")]
list(higher_than_germ["Institution"])

['Harvard University',
 'Massachusetts Institute of Technology',
 'Stanford University',
 'Columbia University',
 'Princeton University',
 'University of California, Berkeley',
 'University of Pennsylvania',
 'University of Chicago',
 'California Institute of Technology',
 'Yale University',
 'Cornell University',
 'Northwestern University',
 'University of California, Los Angeles',
 'University of Michigan, Ann Arbor',
 'Johns Hopkins University',
 'University of Washington - Seattle',
 'University of Illinois at Urbana–Champaign',
 'Duke University',
 'University of Wisconsin–Madison',
 'New York University',
 'University of California San Diego',
 'University of Texas at Austin',
 'University of California, San Francisco',
 'University of North Carolina at Chapel Hill',
 'University of Minnesota - Twin Cities',
 'University of Texas Southwestern Medical Center',
 'Washington University in St. Louis',
 'University of Southern California',
 'Brown University',
 'Vanderbilt University',
 'Pennsylvania State University',
 'Rutgers University–New Brunswick',
 'Dartmouth College',
 'University of California, Davis']

In [15]:
#Q9: What is the highest-ranked institution based on “Quality of Education Rank” in China for the year 2021-2022?
china_high = rankings[(rankings["Country"] == "China") & (rankings["Year"] == "2021-2022")]
china_high.sort_values("Quality of Education Rank", ascending=True).iloc[0]["Institution"]

'Fudan University'

In [16]:
#Q10: What are the top five highest-ranked institutions based on "Research Performance Rank" in India for the year 2020-2021?
india_high = rankings[(rankings["Country"] == "India") & (rankings["Year"] == "2020-2021")]
india_top_five = india_high.sort_values("Research Performance Rank", ascending=True)[0:5]
list(india_top_five["Institution"])

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [17]:
#Q11: How many institutions have rankings for all three years? 
year_2019_ranking_df = rankings[rankings["Year"] == "2019-2020"]["Institution"]
year_2020_ranking_df = rankings[rankings["Year"] == "2020-2021"]["Institution"]
year_2021_ranking_df = rankings[rankings["Year"] == "2021-2022"]["Institution"]

institution_2019_2020_2021 = set.intersection(set(year_2019_ranking_df),set(year_2020_ranking_df),set(year_2021_ranking_df))
len(institution_2019_2020_2021)

1856

In [18]:
#Q12: Between the years 2019-2020 and 2021-2022, list the institutions which have seen an improvement in their "World Rank" by more than 500 ranks 
year_2019_ranking = rankings[rankings["Year"] == "2019-2020"][["World Rank", "Institution"]]
institutions_df = year_2021_ranking.merge(year_2019_ranking, how = 'inner', on = 'Institution') 
institutions_df["difference"] = institutions_df["World Rank_y"] - institutions_df["World Rank_x"] 
inst_improv = institutions_df[institutions_df["difference"] >= 500]
list(inst_improv["Institution"])

NameError: name 'year_2021_ranking' is not defined

In [ ]:
#Q13: Between the years 2019-2020 and 2021-2022, which institution has the most significant change in its "World Rank"?
max_dif = institutions_df[institutions_df["difference"] == institutions_df["difference"].max()]["Institution"]
list(max_dif)[0]

In [ ]:
#Q14: For all the three years, find the number of institutions which have a continuous improvement in their "World Rank".
year_2020_ranking = rankings[rankings["Year"] == "2020-2021"][["World Rank", "Institution"]]
institutions_df_1 = year_2020_ranking.merge(year_2019_ranking, how = 'inner', on = 'Institution')
institutions_df_2 = year_2021_ranking.merge(year_2020_ranking, how = 'inner', on = 'Institution')
institutions_df_1["difference"] = institutions_df_1["World Rank_y"] - institutions_df_1["World Rank_x"] 
institutions_df_2["difference"] = institutions_df_2["World Rank_y"] - institutions_df_2["World Rank_x"]  
pos_inst_1 = institutions_df_1[institutions_df_1["difference"] > 0]   
pos_inst_2 = institutions_df_2[institutions_df_2["difference"] > 0] 
pos_inst = pos_inst_2.merge(pos_inst_1, how = 'inner', on = 'Institution')  
both_improv = pos_inst[(pos_inst["difference_x"] > 0) & (pos_inst["difference_y"] > 0)] 
len(both_improv)

In [ ]:
#Q15: In the year 2020-2021, list the institutions which are within the top 10 in the world based on "Alumni Employment Rank" but do not feature in the top 10 of the world ranking. 
year_2020_ranking_alumn = rankings[(rankings["Year"] == "2020-2021")][["Alumni Employment Rank", "Institution", "World Rank"]]
year_2020_ranking_alumn.sort_values(by=['Alumni Employment Rank'], inplace=True)
alumn_rank = year_2020_ranking_alumn.head(10) 
not_top_rank = alumn_rank[alumn_rank['World Rank'] > 10]["Institution"] 
list(not_top_rank)

In [ ]:
#Q16: List the universities which ranked in the top 100 of world rankings in the year 2019-2020 but failed to do so in rankings of year 2021-2022.
top_100_2019 = year_2019_ranking.head(100)
top_100_2021 = year_2021_ranking.head(100)  
dropped_rank = top_100_2019[top_100_2019["Institution"].isin(top_100_2021["Institution"]) == False]["Institution"]
list(dropped_rank)

In [ ]:
#Q17: List the countries which have at least 10 institutions featuring in the top 100 of world rankings in the year 2020-2021.
top_100_2020 = rankings[rankings["Year"] == "2020-2021"][["World Rank", "Institution", "Country"]].head(100)
uni_freq = (top_100_2020["Country"].value_counts() >= 10)
list(uni_freq.index[uni_freq == True])