In [30]:
# project: p5
# submitter: cjwacker
# partner: none
# hours: 7

In [1]:
#q1 
import project
project.count()

141

In [2]:
import project 
dir(project)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__hurricane__',
 '__init__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'count',
 'get_damage',
 'get_deaths',
 'get_dissipated',
 'get_formed',
 'get_mph',
 'get_name']

In [3]:
from project import *

In [4]:
#q2
for idx in range(count()): 
    idx = 86
name = get_name(idx) 
name

'Isaias'

In [5]:
#q3
get_deaths(count()-1)

1

In [6]:
#q4
x = 0
for idx in range(count()): 
    name = get_name(idx)  
    if name.upper() == "OMAR": 
        x += 1 

x

2

In [7]:
#q5 
min_spd = 0
for idx in range(count()): 
    if get_mph(min_spd) > get_mph(idx):
        min_spd = idx
get_mph(min_spd)

75

In [8]:
#q6
min_spd = 0 
for idx in range(count()): 
    if get_mph(min_spd) > get_mph(idx):
        min_spd = idx
max_spd = 0 
for idx in range(count()): 
    if get_mph(idx) > get_mph(max_spd): 
         max_spd = idx 
            
get_mph(max_spd) - get_mph(min_spd)

115

In [9]:
def format_damage(damage): 
    if damage[-1] == "B":
        damage = float(damage[:-1]) * 1000000000
        return int(damage)
    elif damage[-1] == "M": 
        damage = float(damage[:-1]) * 1000000 
        return int(damage)
    elif damage[-1] == "K":
        damage = float(damage[:-1]) * 1000 
        return int(damage)

In [10]:
#q7 
Sandy = 0 
for idx in range(count()): 
    name = get_name(idx)  
    if name.upper() == "SANDY": 
        Sandy = idx

format_damage(get_damage(Sandy))

68700000000

In [11]:
#q8
max_damage = 0 
for idx in range(count()): 
    if format_damage(get_damage(idx)) > format_damage(get_damage(max_damage)): 
         max_damage = idx 
get_name(max_damage)

'Katrina'

In [12]:
#q9 
max_damage = 0 
for idx in range(count()): 
    if format_damage(get_damage(idx)) > format_damage(get_damage(max_damage)): 
         max_damage = idx 
get_mph(max_damage)

175

In [13]:
def schaden(idx): 
    return format_damage(get_damage(idx))

In [14]:
#q10
total_damage = 0
for idx in range(count()): 
    name = get_name(idx)  
    if name.upper()[0:1] == "E": 
        total_damage += schaden(idx)
total_damage

2704200000

In [15]:
def get_year(date):
    #"""Returns the year when the date is the in the 'mm/dd/yyyy' format"""
    return int(date[6:])

In [16]:
#q11 
deadliest_h = 0 
for idx in range(count()): 
    if get_year(get_formed(idx)) >= 1901 and get_year(get_formed(idx)) <= 2000: 
        if get_deaths(idx) > get_deaths(deadliest_h):
            deadliest_h = idx
get_name(deadliest_h)

'David'

In [17]:
#q12
deadliest_h = 0 
for idx in range(count()): 
    if get_year(get_formed(idx)) >= 1700 and get_year(get_formed(idx)) <= 20000: 
        if get_deaths(idx) > get_deaths(deadliest_h):
            deadliest_h = idx
get_year(get_formed(deadliest_h))

1899

In [18]:
#q13
h = 0 
for idx in range(count()): 
    if get_year(get_formed(idx)) >= 2001 and get_year(get_formed(idx)) <= 2022: 
        if get_deaths(idx) > get_deaths(h):
            h = idx
schaden(h)

91610000000

In [29]:
#q14
h = 0 
for idx in range(count()): 
    if get_deaths(idx) == 0:
        if get_mph(idx) > get_mph(h):
            h = idx 
get_mph(h)

140

In [20]:
#q15 
h = 0 
for idx in range(count()): 
    if get_year(get_formed(idx)) == 2002: 
        h += 1 

h

3

In [21]:
#q16 
h = 0 
for idx in range(count()): 
    if get_year(get_formed(idx)) >= 2011 and get_year(get_formed(idx)) <= 2020:
            h += 1 
h

22

In [22]:
def get_decade_total(start_of_decade): 
    x = 0
    for idx in range(count()):
        if get_year(get_formed(idx)) >= (start_of_decade + 1) and get_year(get_formed(idx)) <= (start_of_decade + 10):
            x += 1
    return x

In [23]:
#q17
f = 0
for idx in range(count()): 
    if get_year(get_formed(idx)) % 10 == 0:
        if get_decade_total(get_year(get_formed(idx)))> get_decade_total(get_year(get_formed(f))):
            f = idx 
x = get_year(get_formed(f)) + 1
y = get_year(get_formed(f)) + 10 
str(x) + " to " + str(y)

'1991 to 2000'

In [24]:
def get_month(date):
    #"""Returns the month when the date is the in the 'mm/dd/yyyy' format"""
    return int(date[:2])

In [25]:
#q18 
x = 0
for idx in range(count()): 
    if abs(get_month(get_formed(idx)) - get_month(get_dissipated(idx))) >= 1: 
        x += 1 
x

59

In [26]:
import datetime
def get_number_of_days(start_date, end_date):
    day1 = datetime.datetime.strptime(start_date, '%m/%d/%Y') # The second argument is a format string to tell the function how to process the date string
    day2 = datetime.datetime.strptime(end_date, '%m/%d/%Y')
    delta = day2 - day1
    return delta.days

In [27]:
#q19


import datetime
x = 0 #Dora
y = 0 #Karen
for idx in range(count()): 
    name = get_name(idx)  
    if name.upper() == "DORA" or name.upper() =="KAREN": 
        if name.upper() == "DORA":
            a = abs(get_number_of_days(get_formed(idx), get_dissipated(idx)))
            x += a
            continue
        if name.upper() == "KAREN": 
            b = abs(get_number_of_days(get_formed(idx), get_dissipated(idx)))
            y += b 
if x > y: 
    for idx in range(count()): 
        name = get_name(idx) 
        if name.upper() == "DORA":
            break 

else:
    for idx in range(count()): 
        name = get_name(idx) 
        if name.upper() == "KAREN":
            break 

    
name

'Dora'

In [28]:
#q20
def get_deadliest20():
    c = 0
    for idx in range(count()): 
        if get_year(get_formed(idx)) >= 1981 and get_year(get_formed(idx)) <= 2000: 
            if get_deaths(idx) > get_deaths(c):
                c = idx
                
    return c

f = 0 
end = get_deadliest20() 
for idx in range(count()): 
    if abs(get_number_of_days(get_dissipated(idx), get_formed(end))) < abs(get_number_of_days(get_dissipated(f), get_formed(end))): 
        f = idx 
get_name(f)

'Earl'