In [1]:
import csv

def process_csv(filename):
    example_file = open(filename, encoding="utf-8")
    example_reader = csv.reader(example_file)
    example_data = list(example_reader)
    example_file.close()
    return example_data

# Use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0] # A list of the column headers
csv_data = csv_rows[1:] # The entire CSV data set besides the headers

def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if val == "":
        return None
    if type(val) == float:
        return float(val)
    if type(val) == int:
        return int(val)
    # optional: convert types based on column name, 
    # ensuring that the float and int values are appropriately converted
    return val

In [2]:
#Q1
neighborhood_groups = []
for idx in range(len(csv_data)):
    neighborhood_groups.append(cell(idx, "neighborhood_group" ))
neighborhood_groups
list_2 = list(set(neighborhood_groups))
list_2

['Bronx', 'Queens', 'Brooklyn', 'Staten Island', 'Manhattan']

In [3]:
#Q2
number_of_reviews = []
for idx in range(len(csv_data)):
    number_of_reviews.append(int(cell(idx, "number_of_reviews")))
sum(number_of_reviews) // len(csv_data)

23

In [4]:
#Q3
rooms = 0
for idx in range(len(csv_data)):
    if cell(idx, "neighborhood") =="SoHo":
        rooms += 1
rooms

358

In [5]:
def find_room_names(contained):
    room_names = []
    for idx in range(len(csv_data)):
        if cell(idx, "name") != None:
            if contained.upper() in cell(idx, "name").upper():
                room_names.append(cell(idx, "name"))
    return room_names

In [6]:
#Q4
find_room_names("MSG")

['The Epic: Right by MSG',
 'Lavish 3 bedroom near Penn Station / MSG',
 'Stately Midtown Studio w/ Doorman, Gym, near MSG by Blueground',
 'Room Near Times Square/Javits/Hells Kitchen/MSG',
 'Cheery Midtown 1BR w/ Doorman + Gym, near MSG by Blueground',
 'Homey Hudson Yards w/ Gym + Doorman, near MSG by Blueground',
 'Private Room With Kitchen Across From MSG',
 'Accessible Two Bedded Suite With Kitchen near MSG',
 'Two Beds in Private Room near Times Square and MSG',
 'Private and Spacious Queen Room Across From MSG',
 'Comfy Kips Bay 1BR w/ Gym, Doorman + Sundecks, walk to MSG by Blueground',
 'A+ Chelsea Location! MSG, Javits, Penn!',
 'Heart of Williamsburg living for 1-5 msg!',
 '3 Bedroom by MSG + Empire State',
 'Next to Times Square/Javits/MSG! Amazing 1BR!']

In [7]:
#Q5
list(set(find_room_names("cinema") + find_room_names("film")))

['The Otheroom Bar/Event/Filming Space -read details',
 'Premium Chelsea 1BR w/ Gym, W/D, Doorman, Sundeck, Cinema, by Blueground',
 'WoodyAllen FilmSet-Like Digs (Apt)',
 'Shoot. Film. Sleep. Unique Loft Space in Brooklyn.',
 'Film Location',
 'Music Recording Mixing Film Photography Art',
 'Modern Townhouse for Photo, Film &  Daytime Events',
 'Cool apartment in Brooklyn with free cinema & gym',
 'Sunny private room featured in film',
 'Brooklyn townhouse for filming',
 'Clean music/film themed bedroom',
 'Victorian Film location',
 'Cinema + gym included with room',
 'Film / photography location in unique apartment',
 "Downtown Filmmaker's Loft by WTC",
 'Stunning Chelsea 1BR w/ Gym, W/D, Doorman, Sundeck, Cinema, by Blueground',
 'WoodyAllen FilmSet-Like Digs (Room)',
 'Cinema Studio on Duplex Apt.',
 'HUGE LUX 2FLOOR 2 BDRMSOHO LOFTw/HOME CINEMA',
 'TV-PHOTO-FILM-CINEMA-ART GALLERY-MUSIC STUDIO-LOFT']

In [8]:
#Q6
host_name = []
L = "aisle"
m = sorted(list(L))

for idx in range(len(csv_data)):
    if cell(idx, "host_name") != None:
        x = sorted(list((cell(idx, "host_name")).lower()))
        if x == m:
            host_name.append(cell(idx, "host_name"))
list(set(host_name))

['Elias', 'Leisa', 'Elisa']

In [9]:
#Q7
rev = []
for idx in range(len(csv_data)):
    if cell(idx, "reviews_per_month") != None:
        if float(cell(idx, "reviews_per_month")) > 15.00:
            rev.append(cell(idx, "room_id"))

rev

['16276632',
 '18173787',
 '21550302',
 '22176831',
 '22750161',
 '28826608',
 '30423106',
 '31090222',
 '31249784',
 '32678719',
 '32678720']

In [10]:
#Q8
count = 0
for idx in range(len(csv_data)):
    if cell(idx, "room_type") != None:
        if cell(idx, "room_type") == "Entire home/apt":
            count += 1
(count / len(csv_data)) * 100

51.96645873811229

In [11]:
#Q9
rev = []
for idx in range(len(csv_data)):
    if cell(idx, "neighborhood_group") != None:
        if cell(idx, "last_review") != None:
            if cell(idx, "neighborhood_group") == "Staten Island" and int(cell(idx, "last_review")[0:4]) <= 2017:
                    rev.append(cell(idx, "room_id"))
list(set(rev))

['17475711',
 '2794725',
 '15988392',
 '712136',
 '9045427',
 '1598033',
 '15949915',
 '8253376',
 '12914239',
 '826307',
 '738588']

In [12]:
def availability_per_host_name(host_name, neighborhood_group=None):
    host = []
    for idx in range(len(csv_data)):
        if cell(idx, "host_name") != None:
            if cell(idx, "availability_365") != None:
                if str(cell(idx, "host_name")) == host_name and str(cell(idx, "neighborhood_group")) == neighborhood_group:
                    host.append(int(cell(idx, "availability_365")))
        A = sorted(list(set(host)))
    return A[::-1]

In [13]:
#Q10
availability_per_host_name("Stanley", "Brooklyn")

[360, 353, 348, 333, 321, 308, 264, 106, 15, 0]

In [14]:
#Q11
rooms = []
for idx in range(len(csv_data)):
    if cell(idx, "host_name") != None:
        if str(cell(idx, "host_name")) == "Helena":
            rooms.append(int(cell(idx, "availability_365")))
rooms = list(sorted(rooms))
rooms[-1] - rooms[0]

253

In [15]:
def find_prices_within(lat_min, lat_max, long_min, long_max):
    prices = []
    for idx in range(len(csv_data)):
        if cell(idx, "latitude") != None:
            if cell(idx, "longitude") != None:
                if lat_min <= float(cell(idx, "latitude")) and float(cell(idx, "latitude")) <= lat_max:
                    if long_min <= float(cell(idx, "longitude")) and float(cell(idx, "longitude")) <= long_max:
                        prices.append(int(cell(idx, "price")))
    return prices

In [16]:
#Q12
sum(find_prices_within(40.5, 40.75, -74.00, -73.95))/len(find_prices_within(40.5, 40.75, -74.00, -73.95))

169.4356387798248

In [17]:
#Q13
max(find_prices_within(40.75, 41.00, -73.95, -73.85))

10000

In [18]:
#Q14
count = 0
for price in find_prices_within(40.50, 41.00, -74.00, -73.85):
    if float(price) < 100.00:
        count += 1

count / len(find_prices_within(40.50, 41.00, -74.00, -73.85)) *100

45.27971221694415

In [19]:
def reviews_availability_ratio(neighborhood):
    reviews = []
    for idx in range(len(csv_data)):
        if cell(idx, "number_of_reviews") != None:
            if int(cell(idx, "availability_365")) != 0:
                if cell(idx, "availability_365") != None:
                    if cell(idx, "neighborhood") == neighborhood:
                        reviews.append(int(cell(idx, "number_of_reviews"))/int(cell(idx, "availability_365")))
    return sum(reviews)/len(reviews)

In [20]:
#Q15
reviews_availability_ratio("Manhattan Beach")

0.27323293295076073

In [21]:
#Q16
reviews_availability_ratio("Riverdale")

0.04373233413721522

In [22]:
#Q17
queens = []
for idx in range(len(csv_data)):
    if cell(idx, "neighborhood_group") == "Queens":
        queens.append(cell(idx, "neighborhood"))
queens1 = list(set(queens))
max_neighbor = None
max_ratio = 0
for idx in queens1:
    if reviews_availability_ratio(idx) > max_ratio:
        max_ratio = reviews_availability_ratio(idx)
        max_neighbor = idx
max_neighbor

'Fresh Meadows'

In [23]:
def secondary_word_in_found_rooms(find_room_word, secondary_word):
    first = []
    second = []
    for idx in range(len(csv_data)):
        if cell(idx, "name") != None:
            if find_room_word.lower() in cell(idx, "name").lower():
                first.append(cell(idx, "room_id"))
                if secondary_word.lower() in cell(idx, "name").lower():
                    second.append(cell(idx, "room_id"))
    return len(second) / len(first) * 100

In [24]:
#Q18
secondary_word_idef price_days_min(neighborhood_group, days):
    prices = []
    for idx in range(len(csv_data)):
        if cell(idx, "availability_365") != None:
            if int(cell(idx, "availability_365")) >= days and int(cell(idx, "minimum_nights")) <= days:
                if cell(idx, "neighborhood_group") == neighborhood_group:
                    prices.append(int(cell(idx, "price")))
    prices1 = list(set(prices))
    minimum = 1000000
    for idx in prices1:
        if int(idx) < minimum:
            minimum = int(idx)
    return(minimum)n_found_rooms("cozy", "home")

3.9522598317354727

In [25]:
#Q19
secondary_word_in_found_rooms("pool", "gym")

48.92086330935252

In [26]:
def price_days_min(neighborhood_group, days):
    prices = []
    for idx in range(len(csv_data)):
        if cell(idx, "availability_365") != None:
            if int(cell(idx, "availability_365")) >= days and int(cell(idx, "minimum_nights")) <= days:
                if cell(idx, "neighborhood_group") == neighborhood_group:
                    prices.append(int(cell(idx, "price")))
    prices1 = list(set(prices))
    minimum = 1000000
    for idx in prices1:
        if int(idx) < minimum:
            minimum = int(idx)
    return(minimum)

In [27]:
#Q20
total_cost = price_days_min("Manhattan", 10) * 10 + price_days_min("Staten Island", 5) * 5
total_cost

175